<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/stylesheet.css">
  </head>
  <body>

    <style media="screen">
      body {
        background-color: black;
      }
    </style>
<%= erb(:"partials/navigation", :layout => false) %>

<%= yield %>
  </body>
</html>
