  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
      <h2>Food Form: </h2>
      <form class="" action="/<%= @food.id %>" method="POST">
        <label for="foodname">Food Category</label>
        <input type="text" name="foodname" placeholder="Enter a Food Category.." value="<%= @food.title %>">

        <label for="foodfact">Food Fact</label>
        <input type="text" name="body" placeholder="Enter The Food Fact.." value="<%= @food.body %>">


        <input type="submit" value="Save Food">

        <% if(@food.id != "") %>
        <input type="hidden" name="_method" value="PUT">
        <% end %>

        <button type="button" name="button">Delete</button>
      </form>
