<h2><%= @food.title %></h2>
<h3><%= @food.body %></h3>

<form class="" action="/<%= @food.id %>" method="POST">
<div class="">
<input type="submit" name="" value="Delete Food">
</div>

<input type="hidden" name="_method" value="DELETE">
</form>
